@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-light: #ffbed8;
  --foreground-dark: #ff7ba9;
  --background-light: #c1f4c5;
  --background-dark: #65c18c;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-light: #d4adfc;
    --foreground-dark: #5c469c;
    --background-light: #1d267d;
    --background-dark: #0c134f;
  }
}

body {
  color: var(--foreground-light);
  background-color: var(--background-dark);
  font-family: Arial, Helvetica, sans-serif;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
